/* ForgotPasswordForm.css */

.forgotpasswordcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 16rem auto;
}

.forgotpasswordcontainer h1 {
  font-size: 1.5rem;
  color: #00695c;
  margin-bottom: 0.5rem;
}

.hr2 {
  width: 100%;
  height: 2px;
  background-color: #00695c;
  border: none;
  margin: 0.5rem 0;
}

.forgotpasswordcontainer h2 {
  font-size: 1.25rem;
  color: #004d40;
  margin-bottom: 1.5rem;
}

.forgotpasswordcontainer form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.forgotpasswordcontainer label {
  font-size: 1rem;
  color: #004d40;
  margin-bottom: 0.5rem;
}

.forgotpasswordcontainer input {
  padding: 0.5rem;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.forgotpasswordcontainer input:focus {
  outline: none;
  border-color: #00695c;
  box-shadow: 0 0 5px rgba(0, 105, 92, 0.5);
}

.forgotpasswordcontainer button {
  padding: 0.75rem;
  background-color: #00695c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.forgotpasswordcontainer button:hover {
  background-color: #004d40;
}
