.login-form11 {
  margin-left: 15%;
  margin-top: 10%;
  padding: 0;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  line-height: 0.8;
}

.Login {
  display: flex;
  width: 100%;
}

.CyberSafe1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 600px;
  padding: 50px;
  background-color: #117964;
  color: white;
}

.CyberSafe1-name {
  font-size: 70px;
  font-family: 'CerebriSans-Regular';
}

.CyberSafe1 .title11 {
  margin-top: 20px;
  font-size: 1.4em;
  line-height: 1.5;
  font-family: 'CerebriSans-Regular';
}

.loginContainer11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 50px;
}

.loginContainer11 input {
  width: 80%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.role-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 10px 0;
}

.role-selection label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-family: 'CerebriSans-Regular';
}

input[type="radio"] {
  accent-color: #117964;
}

#profilePic {
  width: 80%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #f9f9f9;
}

.btn11 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
  margin-top: 20px;
}

.btn11:hover {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.btns11 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-top: 10px;
}

.btns11:hover {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.file-input-container {
  width: 80%;
  margin: 10px 0;
  position: relative;
}

.file-input-label {
  display: inline-block;
  padding: 12px 0px;
  background-color: #c2fbd7;
  color: green;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'CerebriSans-Regular', sans-serif;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 100%;
  border: 1px solid #ccc;
}
.file-input {
  display: none;
}
.success-message {
  margin: auto;
  margin-top: 10%;
  padding: 50px;
  height: auto;
  width: 80%;
  max-width: 600px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 1.5;
  font-family: 'CerebriSans-Regular', sans-serif;
}

.success-message h1 {
  font-size: 2em;
  color: #117964;
  margin-bottom: 20px;
}

.success-message p {
  font-size: 1.2em;
  color: #333;
}
